# Terraform state and internal cache
/infra/.terraform/
/infra/terraform.tfstate
/infra/terraform.tfstate.backup

# Optional: sensitive or local-use variable files
/infra/*.tfvars

# Optional: debug logs
/infra/*.log

# virtual env
/backend/venv