# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
env/
ENV/

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite DB (if not checking it in)
*.sqlite3
*.db

# Unit test artifacts
.pytest_cache/
.coverage
htmlcov/
*.log

# Dist / packaging
build/
dist/
*.egg-info/
